<form [formGroup]="questionForm" class="question-form" appFireForm [path]="path" (stateChange)="changeHandler($event)">
    <mat-form-field class="text">
        <input matInput placeholder="Typ dekretu" type="text" formControlName="questionType" />
    </mat-form-field>&nbsp;
    <mat-form-field class="text">
        <input matInput placeholder="Otázka" type="text" formControlName="name" />
    </mat-form-field>&nbsp;
    <mat-form-field class="text">
        <input matInput placeholder="Navrženo delegátem" type="text" formControlName="byDelegateId" readonly />
    </mat-form-field>&nbsp;
    <mat-form-field class="text">
        <input matInput placeholder="Navrženo rodem" type="text" formControlName="byVotingRightId" readonly />
    </mat-form-field>&nbsp;
    <mat-form-field class="text">
        <input matInput placeholder="Navrženo v kole" type="text" formControlName="roundId" readonly />
    </mat-form-field>&nbsp;
    <app-answer-form *ngFor="let path of answerPaths | async" [path]="path"></app-answer-form>
    <div class="question-form-buttons">
        {{ state }}&nbsp;
        <mat-checkbox class="basic-checkbox" formControlName="hidden">
            Otázka schovaná
        </mat-checkbox>&nbsp;
        <button mat-stroked-button color="accent" (click)="delete()">
            Smazat
        </button>&nbsp;
        <button mat-stroked-button color="basic" (click)="export()">
            Export hlasů
        </button>
    </div>
</form>
