<div class="tab-content">
    <mat-card class="card" *ngIf="showResults">
        <div class="houses-pictures-row">Obrazky rodu</div>
        <table mat-table [dataSource]="data">
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <ng-container matColumnDef="dekret">
                <th mat-header-cell class="dekret-table-column" *matHeaderCellDef> Dekret </th>
                <td mat-cell class="dekret-table-column" *matCellDef="let element"> {{element.dekret}} </td>
            </ng-container>
            <ng-container [matColumnDef]="column" *ngFor="let column of displayedHouses">
                <th mat-header-cell class="regular-table-column" *matHeaderCellDef> {{column}} </th>
                <td mat-cell class="regular-table-column" *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>
            <ng-container matColumnDef="total">
                <th mat-header-cell class="total-table-column" *matHeaderCellDef> Celkem hlasů na otázku</th>
                <td mat-cell class="total-table-column" *matCellDef="let element"> {{element.total}} </td>
            </ng-container>
        </table>
    </mat-card>
    <mat-card class="action" *ngIf="!showResults">
        <p><strong>{{questionName | async}}</strong></p>
        <form (ngSubmit)="vote(votingForm)" #votingForm="ngForm">
            <ng-container *ngFor="let votingRight of votingRights | async">
                <mat-form-field class="select-field">
                    <mat-label>{{ votingRight.name }} ({{ votingRight.votes }})</mat-label>
                    <mat-select name="{{votingRight.id}}" required ngModel class="select">
                        <mat-option *ngFor="let answer of answers | async" value="{{answer.value}}">
                            {{answer.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> &nbsp;
            </ng-container>
            <button type="Submit" mat-raised-button color="accent" *ngIf="!voted">Hlasovat</button>
            <button type="Submit" mat-raised-button color="accent" *ngIf="voted">Změnit hlasování</button>
        </form>
    </mat-card>
</div>